// font families

$kaushan: 'Kaushan Script', cursive;
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;

// font sizes

$extralarge: 150px;
$large: 72px;
$ml: 46px;
$medium: 30px;
$smaller: 24px;
$ssmaller: 18px;
$small: 15px;
$extrasmall: 14px;
$ssmallest: 13px;
$smallest: 12px;

// colors

$textyellow: #fce38a;
$lightyellow: #f7ebc5;
$textwhite: #ffffff;
$salmon: #f38181;
$lightgrey: #e5e5e5;
$grey: #cccccc;
$textgrey: #999999;
$mint: #95e1d3;
$textblack: #333333;
$lightmint: #b5eae0;