body {
  background: url(images/pexels-s-migaj-747964.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-color: white;
  border-radius: 10px;
  opacity: 90%;
  margin: 100px 300px;
  text-align: center;
}

.box {
  display: inline-block;
  width: 35%;
  margin: 30px 50px;
  text-align: left;
}

.blue {
  background-color: rgb(77, 135, 211);
}

.red {
  background-color: rgb(204, 59, 59);
}

.red, .blue {
  border-radius: 10px;
  padding: 0 20px;
}