body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 50px;
}

div {
  display: inline-block;
  /* margin: 40px; */
  margin-bottom: 60px;
  padding: 30px;
  text-align: left;
  width: 20%;
}

h3 {
  color: rgb(54, 53, 53);
}

p {
  color: rgb(194, 189, 189);
}

.second-line {
  text-align: center;
}
