body {
  font-size: 0;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 150px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 72px;
}

h3 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 46px;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
}
nav .logo,
nav .navbar,
nav li {
  display: inline-block;
}
nav h3 {
  font-weight: bold;
  color: #ffffff;
}
nav li {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  margin: 40px 27px;
}
nav a {
  text-decoration: none;
  color: #ffffff;
}
nav li .active a,
nav li a:hover {
  color: #fce38a;
  border-bottom: 2px solid #fce38a;
  padding-bottom: 5px;
}
nav .logo {
  width: 40%;
}

.section {
  margin: 110px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  text-align: center;
}
.title h4,
.title h3 {
  color: #333333;
}
.title h4 {
  font-family: "Kaushan Script", cursive;
  margin-bottom: 25px;
}
.title h3 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 40px;
  font-weight: bold;
}
.title p {
  color: #999999;
  font-size: 15px;
  margin-bottom: 90px;
  margin-top: 45px;
  padding: 0 130px;
  font-family: "Roboto", sans-serif;
}
.title .red-line {
  margin: 0 auto;
}

.grey-line {
  width: 60px;
  background-color: #ffffff;
  height: 3px;
  margin: 0 auto;
}

.red-line {
  width: 60px;
  background-color: #f38181;
  height: 3px;
}

.long-line {
  width: 280px;
  background-color: #f7ebc5;
  height: 3px;
}

.red-white-line {
  width: 280px;
  height: 3px;
  background-color: #f38181;
}

header {
  background: url("../../../../3diena/mogo-projektas/images/home_background_image.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.content {
  color: #ffffff;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.content h2 {
  font-family: "Kaushan Script", cursive;
  margin: 120px 0 23px 0;
}
.content h1 {
  padding: 0 50px 50px 50px;
}
.content button {
  border: 2px solid #ffffff;
  background-color: transparent;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  padding: 12px 29px;
  margin: 50px 0 120px 0;
}
.content button a {
  text-decoration: none;
  color: #ffffff;
}
.content .main-bottom {
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}
.content .main-bottom h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  display: inline;
}
.content .main-bottom span {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: lighter;
}
.content .intro,
.content .work,
.content .about,
.content .contacts {
  display: inline-block;
  margin: 0 8px 25px 8px;
}
.content .intro div,
.content .work div,
.content .about div,
.content .contacts div {
  margin-bottom: 25px;
}
.content .intro {
  color: #ffffff;
}
.content .work,
.content .about,
.content .contacts {
  color: #f7ebc5;
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
#blog .blog-row {
  width: 100%;
}
#blog .blog-row .article {
  display: inline-block;
  width: 32%;
  margin-top: 45px;
  padding-left: 10px;
}
#blog .blog-row .article img {
  width: 100%;
}
#blog .blog-row .article h5 {
  font-family: "Montserrat", sans-serif;
  padding: 20px 0 20px 10px;
  text-transform: uppercase;
}
#blog .blog-row .article p {
  font-family: "Roboto", sans-serif;
  color: #999999;
  font-size: 15px;
  padding-left: 10px;
  padding-bottom: 20px;
  line-height: 1.6;
  border-bottom: 1px solid #e5e5e5;
}
#blog .blog-row .article .views-comments {
  width: 50%;
  padding-left: 10px;
  padding-top: 15px;
}
#blog .blog-row .article .views-comments img {
  width: 20px;
  height: auto;
}
#blog .blog-row .article .views-comments p {
  display: inline-block;
  font-style: italic;
  padding: 0;
  border: none;
}
#blog .blog-row .article .views-comments .views,
#blog .blog-row .article .views-comments .comments {
  display: inline-block;
  width: 35%;
}
#blog .blog-row .article .views-comments .comments img {
  vertical-align: middle;
}

#works .works-pictures {
  margin: 0;
  padding: 0;
}
#works .works-pictures img {
  width: 100%;
}

.review-section-two .review-items {
  margin: 0 20px;
}
.review-section-two .review-items .review-item-icon,
.review-section-two .review-items .review-item-text,
.review-section-two .review-items .review-item-picture {
  display: inline-block;
  vertical-align: middle;
}
.review-section-two .review-items .review-item-icon {
  width: 4%;
}
.review-section-two .review-items .review-item-icon:last-child {
  text-align: right;
}
.review-section-two .review-items .review-item-picture {
  width: 20%;
}
.review-section-two .review-items .review-item-picture img {
  width: 100%;
  max-width: 210px;
}
.review-section-two .review-items .review-item-text {
  width: 70%;
}
.review-section-two .review-items .review-item-text p {
  font-family: "Roboto", sans-serif;
  color: #999999;
  font-style: italic;
  line-height: 1.6;
  font-size: 24px;
  margin-bottom: 15px;
}
.review-section-two .review-items .review-item-text .red-line {
  display: inline-block;
  margin-right: 5px;
}
.review-section-two .review-items .review-item-text h4 {
  font-family: "Kaushan Script", cursive;
  display: inline-block;
}

.client-section {
  background: url("../../../../3diena/mogo-projektas/images/background_3.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 110px;
}
.client-section .client-reviews {
  padding-bottom: 30px;
  margin-top: 90px;
}
.client-section .client-reviews .client-row {
  margin-bottom: 80px;
  width: 100%;
}
.client-section .client-reviews .client-row .client {
  display: inline-block;
  width: 47%;
  margin: 0 auto;
  padding: 0 15px;
}
.client-section .client-reviews .client-row .client .client-image {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  padding-left: 15px;
}
.client-section .client-reviews .client-row .client .client-image img {
  width: 100%;
  max-width: 110px;
}
.client-section .client-reviews .client-row .client .client-info {
  display: inline-block;
  width: 70%;
}
.client-section .client-reviews .client-row .client .client-info h5 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 15px;
  color: #333333;
}
.client-section .client-reviews .client-row .client .client-info p {
  font-family: "Roboto", sans-serif;
  margin-bottom: 15px;
  font-size: 15px;
  color: #333333;
}
.client-section .client-reviews .client-row .client .client-info i {
  font-style: italic;
}
.client-section .client-reviews .client-row .client .client-info .red-line {
  margin-bottom: 25px;
}
.client-section .client-reviews .client-row .client .client-info p:last-child {
  color: #999999;
  line-height: 1.6;
}

.map {
  background: url("../../../../3diena/mogo-projektas/images/background_line.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
}
.map .map-link {
  text-align: center;
  padding: 56px 0;
}
.map .map-link h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: 22px;
}
.map .map-link h4 a {
  text-decoration: none;
  color: #f38181;
}
.map .map-link img {
  margin-bottom: 18px;
}
.map .map-link .red-line {
  margin: 0 auto;
}

#contacts h6 {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: #cccccc;
  margin-bottom: 40px;
}
#contacts p {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: #999999;
}
#contacts .contacts,
#contacts .blogs,
#contacts .instagram {
  display: inline-block;
}
#contacts .contacts {
  width: 40%;
  vertical-align: top;
  padding-right: 15px;
}
#contacts .contacts .follow-part {
  margin-top: 40px;
}
#contacts .contacts .follow-part p {
  margin-bottom: 20px;
  color: #333333;
}
#contacts .contacts .follow-part b {
  font-weight: bold;
}
#contacts .contacts .follow-part .follow-us {
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
}
#contacts .contacts .follow-part .follow-us p {
  font-style: italic;
  display: inline;
  padding-right: 5px;
}
#contacts .contacts .follow-part .follow-us img {
  vertical-align: top;
  padding-right: 5px;
}
#contacts .contacts .form {
  margin-top: 30px;
  width: 100%;
}
#contacts .contacts .form input[type=email] {
  border: 1px solid #e5e5e5;
  padding: 15px;
  width: 230px;
}
#contacts .contacts .form input[type=submit] {
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  background-color: #95e1d3;
  border: none;
  padding: 17px 30px;
  width: 150px;
  margin-left: -5px;
}
#contacts .contacts .form input[placeholder="Your Email..."] {
  color: #e5e5e5;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 15px;
}
#contacts .blogs {
  width: 30%;
  vertical-align: top;
  padding-right: 15px;
}
#contacts .blogs h5 {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 40px;
  color: #333333;
}
#contacts .blogs .blog-post {
  padding-bottom: 30px;
}
#contacts .blogs .blog-post-image {
  display: inline-block;
  width: 35%;
}
#contacts .blogs .blog-post-image img {
  width: 100%;
}
#contacts .blogs .blog-post-info {
  display: inline-block;
  width: 55%;
  padding: 0 10px;
}
#contacts .blogs .blog-post-info h5 {
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10px;
  line-height: 1.6;
  color: #333333;
}
#contacts .blogs .blog-post-info p {
  font-style: italic;
  font-size: 13px;
}
#contacts .instagram {
  vertical-align: top;
  width: 25%;
}
#contacts .instagram h5 {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 40px;
  color: #333333;
}
#contacts .instagram p {
  margin-top: 20px;
}
#contacts .instagram a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 13px;
}
#contacts .instagram img {
  width: 100%;
  max-width: 87px;
}
#contacts .copyright {
  border-top: 1px solid #e5e5e5;
  margin-top: 95px;
  text-align: center;
}
#contacts .copyright p {
  margin: 25px 0;
  color: #333333;
}
#contacts .copyright p span {
  color: #f38181;
}

#service .services {
  border-bottom: 1px solid #e5e5e5;
  margin: 0 auto;
}
#service .services .service-item {
  display: inline-block;
  width: 31%;
  padding: 50px 15px 50px 10px;
}
#service .services .service-item .service-icon {
  display: inline-block;
  vertical-align: top;
}
#service .services .service-item .service-text {
  display: inline-block;
  width: 78%;
  padding: 0 20px;
}
#service .services .service-item .service-text h5 {
  font-family: "Montserrat", sans-serif;
  color: #333333;
  padding-bottom: 20px;
}
#service .services .service-item .service-text p {
  font-family: "Roboto", sans-serif;
  color: #999999;
  line-height: 1.6;
}
#service .services:last-child {
  border: none;
}

.devices {
  background: url("../../../../3diena/mogo-projektas/images/another_background.png") center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 905px;
}
.devices .title {
  padding-top: 100px;
}

.what-we-do .activity-section .picture {
  display: inline-block;
  width: 47%;
  padding-right: 30px;
}
.what-we-do .activity-section .picture img {
  width: 100%;
}
.what-we-do .activity-section .activity {
  display: inline-block;
  width: 48%;
}
.what-we-do .activity-section .activity-item {
  border: 1px solid #e5e5e5;
  padding: 15px;
  vertical-align: top;
}
.what-we-do .activity-section .activity-item .activity-text,
.what-we-do .activity-section .activity-item .activity-icon {
  display: inline-block;
}
.what-we-do .activity-section .activity-item .activity-text {
  width: 85%;
  vertical-align: top;
  padding: 10px 0 0 10px;
}
.what-we-do .activity-section .activity-item .activity-text h5 {
  font-family: "Montserrat", sans-serif;
  color: #333333;
  padding-bottom: 20px;
  display: inline;
}
.what-we-do .activity-section .activity-item .activity-text p {
  font-family: "Roboto", sans-serif;
  color: #999999;
  font-style: italic;
  line-height: 1.6;
  font-size: 15px;
  display: inline;
  width: 50%;
}
.what-we-do .activity-section .activity-item .activity-icon {
  width: 5%;
  vertical-align: middle;
}
.what-we-do .activity-section .activity-item:nth-child(2) {
  margin-bottom: 10px;
}
.what-we-do .activity-section .activity-item:nth-child(2) .activity-text {
  width: 90%;
  padding-right: 11px;
}
.what-we-do .activity-section .activity-item:nth-child(3) {
  margin-bottom: 10px;
}

.reviews-section-one {
  background: url("../../../../3diena/mogo-projektas/images/grey-line.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
}
.reviews-section-one .review-items {
  padding: 70px 20px;
}
.reviews-section-one .review-items .review-item-icon,
.reviews-section-one .review-items .review-item-text,
.reviews-section-one .review-items .review-item-picture {
  display: inline-block;
  vertical-align: middle;
}
.reviews-section-one .review-items .review-item-icon {
  width: 3%;
}
.reviews-section-one .review-items .review-item-icon:last-child {
  text-align: right;
}
.reviews-section-one .review-items .review-item-picture {
  width: 13%;
  padding-left: 55px;
}
.reviews-section-one .review-items .review-item-picture img {
  width: 100%;
  max-width: 150px;
  height: auto;
}
.reviews-section-one .review-items .review-item-text {
  padding: 0 55px;
  width: 65%;
}
.reviews-section-one .review-items .review-item-text p {
  font-family: "Roboto", sans-serif;
  color: #999999;
  font-style: italic;
  line-height: 1.6;
  font-size: 24px;
  margin-bottom: 15px;
}
.reviews-section-one .review-items .review-item-text .red-line {
  display: inline-block;
  margin-right: 5px;
}
.reviews-section-one .review-items .review-item-text h4 {
  font-family: "Kaushan Script", cursive;
  display: inline-block;
}

.team .team-row {
  text-align: center;
}
.team .team-row .team-member {
  display: inline-block;
  width: 31%;
  padding-right: 15px;
}
.team .team-row .team-member img {
  width: 100%;
}
.team .team-row .team-member h5 {
  margin: 30px 0 15px 0;
}
.team .team-row .team-member p {
  color: #999999;
  font-style: italic;
  font-family: "Roboto", sans-serif;
}

.logos {
  background: url("../../../../3diena/mogo-projektas/images/grey-line.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logos .logo-image img {
  width: 100%;
}

#about {
  background-color: #ffffff;
  margin: 90px 0 110px 0;
}
#about .image-row img {
  margin: 0 7px;
  width: 100%;
  max-width: 380px;
}
#about .image-row img[alt=superteam] {
  height: 260px;
}

.statistics {
  background: url("../../../3diena/mogo-projektas/images/blue_line.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.statistics .stat-info {
  display: inline-block;
  width: 19%;
  text-align: center;
  padding: 80px 3px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  border-left: 1px solid #b5eae0;
}
.statistics .stat-info p {
  text-transform: uppercase;
  font-size: 15px;
}
.statistics .stat-info h2 {
  font-weight: bold;
  margin-bottom: 30px;
}
.statistics .stat-info:last-child {
  border-right: 1px solid #b5eae0;
}/*# sourceMappingURL=main.css.map */