// sections layout

.section {
  margin: 110px 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  // border: 1px solid red;
  margin: 0 auto;
  box-sizing: border-box;
}

// section title

.title {
  h4 {
    margin-bottom: 25px;
  }

  h3 {
    margin-bottom: 40px;
  }

  p {
    margin-bottom: 90px;
    margin-top: 45px;
    padding: 0 130px;
  }

  .red-line {
    margin: 0 auto;
  }
}

// section title breakpoint

@media only screen and (max-width: $small-breakpoint) {
  .title {
    p {
      padding: 0 50px;
    }
  }
}