// navigation 

nav {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  // border: 1px solid red;

  .logo,
  .navbar,
  li {
    display: inline-block;

  }

  h3 {
    font-weight: bold;
    color: $textwhite;
  }

  li {
    font-size: 14px;
    font-family: $montserrat;
    margin: 30px 27px 0 27px;
  }

  a {
    text-decoration: none;
    color: $textwhite;
  }

  li .active a,
  li a:hover {
    color: $textyellow;
    border-bottom: 2px solid $textyellow;
    padding-bottom: 5px;
  }

  .logo {
    width: 40%;
  }
}

@media only screen and (min-width: $large-breakpoint) and (max-width: $extra-large-breakpoint) {
  nav {
    margin: 0 auto;
    text-align: center;

    li {
      margin: 15px 15px 0 15px;
    }

    .logo {
      width: 25%;
    }
  }

  // .navbar,
  // .logo {
  //   border: 1px solid red;
  // }
}

@media only screen and (min-width: $medium-breakpoint) and (max-width: $large-breakpoint) {
  nav {
    text-align: center;

    li {
      margin: 15px 15px 0 15px;
    }

    .logo {
      width: 25%;
    }
  }

}

@media only screen and (min-width: $small-breakpoint) and (max-width: $medium-breakpoint) {
  nav {
    text-align: center;

    li {
      margin: 20px 18px 0 18px;
    }

    .logo {
      width: 25%;
      margin-top: 15px;
    }
  }

}

@media only screen and (max-width: $small-breakpoint) {
  nav {
    text-align: center;

    li {
      margin: 20px 18px 0 18px;
    }

    .logo {
      width: 25%;
      margin-top: 15px;
    }
  }
}