// line components

.grey-line {
  width: 60px;
  background-color: $textwhite;
  height: 3px;
  margin: 0 auto;
}

.red-line {
  width: 60px;
  background-color: $salmon;
  height: 3px;
}

.long-line {
  width: 100%;
  max-width: 280px;
  background-color: $lightyellow;
  height: 3px;
}

.red-white-line {
  width: 100%;
  max-width: 280px;
  height: 3px;
  background-image: linear-gradient(90deg, $salmon 30%, $textwhite 20%);
}