// headings

h1 {
  font-size: $extralarge;
  font-family: $montserrat;
  font-weight: bold;
}

h2 {
  font-size: $large;
}

h3 {
  font-size: $medium;
  font-family: $montserrat;
}

h4 {
  font-size: $smaller;
}

h5 {
  font-size: $extrasmall;
}

// nepamiršti apkeisti su h5 ir pakeisti visur failuose

h6 {
  font-size: $ml;
}
