// headings

h1 {
  font-size: $extralarge;
  font-family: $montserrat;
  font-weight: bold;
}

h2 {
  font-size: $large;
}

h3 {
  font-size: $medium;
  font-family: $montserrat;
}

h4 {
  font-size: $smaller;
  // font-family: $kaushan;
}