// about section

#about {
  background-color: $textwhite;
  margin: 90px 0 110px 0;

  .image-row {
    img {
      margin: 0 7px;
      width: 100%;
      max-width: 380px;
    }
  }
}

// statistics line

.statistics {
  background: url('../images/blue_line.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .stat-info {
    display: inline-block;
    width: 19%;
    padding: 80px 3px;
    border-left: 1px solid $lightmint;

    h2 {
      margin-bottom: 30px;
    }
  }

  .stat-info:last-child {
    border-right: 1px solid $lightmint;
  }
}

// breakpoints

// for screens up to 1200px (about section images part)
@media only screen and (max-width: $extra-large-breakpoint) {
  #about {
    .image-row {
      img {
        width: 90%;
        max-width: 380px;
        display: block;
        margin: 0 auto;
      }
    }
  }
}

// statistics breakpoints

// for screens less than 1200px and more than 992px

@media only screen and (min-width: $large-breakpoint) and (max-width: $extra-large-breakpoint) {
  .statistics {

    .stat-info {
      width: 19%;
      padding: 80px 0px;

      p {
        font-size: $smallest;
      }

      h2 {
        font-size: $emlg;
      }
    }
  }
}

// for screens less than 992px and more than 768px

@media only screen and (min-width: $medium-breakpoint) and (max-width: $large-breakpoint) {
  .statistics {
    .stat-info {
      width: 18%;
      padding: 80px 4px;

      h2 {
        margin-bottom: 30px;
        font-size: 50px;
      }

      p {
        font-size: $xxs;
      }
    }
  }
}

// for screens less than 768px

@media only screen and (max-width: $medium-breakpoint) {
  .statistics {
    .stat-info {
      width: 100%;
      padding: 30px 4px;
      display: block;

      h2 {
        margin-bottom: 20px;
        font-size: $large;
      }

      p {
        font-size: $small;
      }
    }
  }
}