// about section

#about {
  background-color: $textwhite;
  margin: 90px 0 110px 0;

  .image-row {
    .image {
      display: inline-block;
      position: relative;

      img {
        margin: 0 7px;
        width: 100%;
        max-width: 380px;
        height: 250px;
      }
    }

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      max-width: 380px;
      opacity: 0;
      transition: .5s ease;
      background-image: linear-gradient(to bottom right, $salmon, #e9d182);
      margin: 0 7px;
    }

    .image:hover .overlay {
      opacity: 0.9;
    }

    .text {
      text-align: center;
      padding-top: 95px;

      h4 {
        font-size: $ssmaller;
        color: $textwhite;
        font-family: $montserrat;
        font-weight: bold;
      }

      img {
        width: 100%;
        max-width: 30px;
        padding-bottom: 10px;
        height: 20px;
        margin: 0 auto;
      }
    }
  }
}

// statistics line

.statistics {
  background: url('../images/blue_line.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .stat-info {
    display: inline-block;
    width: 19%;
    padding: 80px 3px;
    border-left: 1px solid $lightmint;

    h2 {
      margin-bottom: 30px;
    }
  }

  .stat-info:last-child {
    border-right: 1px solid $lightmint;
  }
}

// breakpoints

// for screens up to 1200px (about section images part)
@media only screen and (max-width: $extra-large-breakpoint) {
  #about {
    .image-row {
      .image {
        display: block;
        margin: 0 auto;
        width: 90%;
        max-width: 380px;
        padding-bottom: 20px;

        .overlay {
          height: 250px;
        }
      }
    }
  }
}

// statistics breakpoints

// for screens less than 1200px and more than 992px

@media only screen and (min-width: $large-breakpoint) and (max-width: $extra-large-breakpoint) {
  .statistics {

    .stat-info {
      width: 19%;
      padding: 80px 0;

      p {
        font-size: $smallest;
      }

      h2 {
        font-size: $emlg;
      }
    }
  }
}

// for screens less than 992px and more than 768px

@media only screen and (min-width: $medium-breakpoint) and (max-width: $large-breakpoint) {
  .statistics {
    .stat-info {
      width: 18%;
      padding: 80px 4px;

      h2 {
        margin-bottom: 30px;
        font-size: 50px;
      }

      p {
        font-size: $xxs;
      }
    }
  }
}

// for screens less than 768px

@media only screen and (max-width: $medium-breakpoint) {
  .statistics {
    .stat-info {
      width: 100%;
      padding: 30px 4px;
      display: block;

      h2 {
        margin-bottom: 20px;
        font-size: $large;
      }

      p {
        font-size: $small;
      }
    }
  }
}