// map 

.map {
  background: url('../images/background_line.jpg') center;
  background-repeat: no-repeat;
  background-size: cover;

  .map-link {
    padding: 56px 0;

    h4 {
      margin-bottom: 22px;
    }

    img {
      margin-bottom: 18px;
    }

    .red-line {
      margin: 0 auto;
    }
  }
}

// footer contacts part

#contacts {
  h5 {
    margin-bottom: 40px;
  }

  .contacts,
  .blogs,
  .instagram {
    display: inline-block;
  }

  .contacts {
    width: 40%;
    vertical-align: top;
    padding-right: 15px;

    .follow-part {
      margin-top: 40px;

      p {
        margin-bottom: 20px;
      }

      .follow-us {
        border-top: 1px solid $lightgrey;
        padding-top: 20px;

        p {
          display: inline;
          padding-right: 5px;
        }

        img {
          vertical-align: top;
          padding-right: 5px;
        }
      }
    }

    .form {
      margin-top: 30px;
      width: 100%;

      input[type="email"] {
        border: 1px solid $lightgrey;
        padding: 15px;
        width: 230px;
      }

      input[type="submit"] {
        background-color: $mint;
        border: none;
        padding: 17px 30px;
        width: 150px;
        margin-left: -5px;
      }
    }
  }

  .blogs {
    width: 30%;
    vertical-align: top;
    padding-right: 15px;

    h6 {
      padding-bottom: 40px;
    }

    .blog-post {
      padding-bottom: 30px;
    }

    .blog-post-image {
      display: inline-block;
      width: 35%;

      img {
        width: 100%;
      }
    }

    .blog-post-info {
      display: inline-block;
      width: 55%;
      padding: 0 10px;

      h6 {
        padding-bottom: 10px;
      }
    }
  }

  .instagram {
    vertical-align: top;
    width: 25%;

    h6 {
      padding-bottom: 40px;
    }

    p {
      margin-top: 20px;
    }

    img {
      width: 100%;
      max-width: 87px;
    }
  }

  .copyright {
    border-top: 1px solid $lightgrey;
    margin-top: 95px;

    p {
      margin: 25px 0;
    }
  }
}

// breakpoints

@media only screen and (min-width: $large-breakpoint) and (max-width: $extra-large-breakpoint) {

  #contacts {
    .contacts {
      padding-right: 20px;

      .form {
        input[type="email"] {
          padding: 15px;
          width: 230px;
        }

        input[type="submit"] {
          padding: 17px;
          width: 120px;
        }
      }
    }
  }
}

@media only screen and (min-width: $medium-breakpoint) and (max-width: $large-breakpoint) {

  #contacts {

    .contacts,
    .blogs,
    .instagram {
      display: block;
      margin: 0 auto;
      padding-right: 0;
      width: 50%;
    }

    .contacts {
      .form {
        margin-bottom: 50px;
        width: 100%;

        input[type="email"] {
          padding: 15px;
          width: 200px;
        }

        input[type="submit"] {
          padding: 17px;
          width: 120px;
        }
      }
    }
  }

  .blogs {
    .blog-post {
      .blog-post-info {
        vertical-align: top;
        padding-left: 15px;
      }
    }
  }

  .instagram {
    margin-top: 20px;
  }
}

@media only screen and (min-width: $small-breakpoint) and (max-width: $medium-breakpoint) {

  #contacts {

    .contacts,
    .blogs,
    .instagram {
      display: block;
      margin: 0 auto;
      padding-right: 0;
      width: 60%;
    }

    .contacts {
      .form {
        margin-bottom: 50px;
        width: 100%;

        input[type="email"] {
          padding: 15px;
          width: 200px;
        }

        input[type="submit"] {
          padding: 17px;
          width: 120px;
        }
      }
    }
  }

  .blogs {
    .blog-post {
      .blog-post-info {
        vertical-align: top;
        padding-left: 15px;
      }
    }
  }

  .instagram {
    margin-top: 20px;
  }
}

@media only screen and (max-width: $small-breakpoint) {
  #contacts {

    .contacts,
    .blogs,
    .instagram {
      display: block;
      margin: 0 auto;
      padding-right: 0;
      width: 90%;
    }

    .contacts {
      .form {
        margin-bottom: 50px;
        width: 100%;

        input[type="email"] {
          padding: 15px;
          width: 180px;
        }

        input[type="submit"] {
          padding: 17px;
          width: 120px;
        }
      }
    }
  }

  .blogs {
    .blog-post {
      .blog-post-info {
        vertical-align: top;
        padding-left: 15px;
      }
    }
  }

  .instagram {
    margin-top: 20px;
  }
}