// home section background

header {
  background: url('../../../../3diena/mogo-projektas/images/home_background_image.jpg') center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

// home section content 

.content {
  color: $textwhite;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;

  h2 {
    font-family: $kaushan;
    margin: 120px 0 23px 0;
  }

  h1 {
    padding: 0 50px 50px 50px;
  }

  button {
    border: 2px solid $textwhite;
    background-color: transparent;
    font-weight: bold;
    font-family: $montserrat;
    padding: 12px 29px;
    margin: 50px 0 120px 0;

    a {
      text-decoration: none;
      color: $textwhite;
    }
  }

  // home section content bottom part

  .main-bottom {
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;

    h4 {
      font-family: $montserrat;
      font-weight: bold;
      display: inline;
    }

    span {
      font-family: $montserrat;
      font-size: $ssmaller;
      font-weight: lighter;
    }
  }

  .intro,
  .work,
  .about,
  .contacts {
    display: inline-block;
    margin: 0 8px 25px 8px;

    div {
      margin-bottom: 25px;
    }
  }

  .intro {
    color: $textwhite;
  }

  .work,
  .about,
  .contacts {
    color: $lightyellow;
  }
}


// for screens less than 1200px

@media only screen and (min-width: 992px) and (max-width: 1200px) {

}

/* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}