// home section background
#home {
  height: 100vh;
  background: url('../images/home_background_image.jpg') center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;

  // home section content 

  .content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;

    h2 {
      margin: 180px 0 35px 0;
    }

    h1 {
      margin: 20px 170px 30px 170px;
    }

    button {
      padding: 12px 29px;
      margin: 50px 0 130px 0;
    }

    // home section content bottom part

    .main-bottom {
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      position: absolute;
      bottom: 0;

      h4 {
        display: inline;
      }

      .intro,
      .work,
      .about,
      .contacts {
        display: inline-block;
        margin: 0 8px 25px 8px;
        width: 23%;

        div {
          margin-bottom: 20px;
        }
      }
    }
  }
}

// breakpoints

// for screens less than 1200px and more than 992px

@media only screen and (max-width: $extra-large-breakpoint) {
  #home {
    .content {
      h1 {
        font-size: $large;
        margin: 0 200px 25px 200px;
      }

      h2 {
        font-size: $mlg;
        margin-top: 140px;
        margin-bottom: 20px;
      }

      button {
        margin-top: 30px;
      }
    }
  }
}

// for screens less than 992px and more than 768px

@media only screen and (min-width: $medium-breakpoint) and (max-width: $large-breakpoint) {
  #home {
    .content {
      h1 {
        font-size: $large;
        margin: 0 125px 25px 125px;
      }

      h2 {
        font-size: $ml;
        margin-top: 200px;
      }

      .main-bottom {

        .intro,
        .work,
        .about,
        .contacts {
          width: 22%;

          div {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

// for screens less than 768px and more than 600px

@media only screen and (min-width: $small-breakpoint) and (max-width: $medium-breakpoint) {
  #home {
    font-size: 0;

    .content {
      h1 {
        font-size: $large;
        margin: 0 115px 40px 115px;
      }

      h2 {
        font-size: $ml;
        margin: 180px 0 25px 0;
      }

      button {
        margin: 40px 0 70px 0;
        padding: 7px 15px;
        font-size: $ssmallest;
      }

      .main-bottom {

        h4,
        span {
          font-size: $small;
        }

        .intro,
        .work,
        .about,
        .contacts {
          width: 22%;

          div {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

// for screens less than 600px

@media only screen and (max-width: $small-breakpoint) {
  #home {

    .content {
      text-align: center;

      h1 {
        font-size: $mlg;
        margin: 0 40px 30px 40px;
      }

      h2 {
        font-size: $medium;
        margin: 170px 0 25px 0;
      }

      button {
        margin: 40px 0 30px 0;
        padding: 7px 15px;
        font-size: $ssmallest;
      }

      .main-bottom {

        h4,
        span {
          font-size: $ssmallest;
        }

        .intro,
        .work,
        .about,
        .contacts {
          width: 45%;

          div {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

// for screens less than 480px
@media only screen and (max-width: $smallest-breakpoint) {

  #home {

    .content {
      text-align: center;

      h1 {
        font-size: $emlg;
        margin: 0 35px 30px 35px;
      }

      h2 {
        font-size: $medium;
        margin: 120px 0 25px 0;
      }

      button {
        margin: 40px 0 30px 0;
        padding: 7px 15px;
        font-size: $ssmallest;
      }

      .main-bottom {

        h4,
        span {
          font-size: $ssmallest;
        }

        .intro,
        .work,
        .about,
        .contacts {
          width: 45%;

          div {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}