// service section

#service {
  .services {
    border-bottom: 1px solid $lightgrey;
    margin: 0 auto;

    .service-item {
      display: inline-block;
      width: 31%;
      padding: 50px 15px 50px 10px;

      .service-icon {
        display: inline-block;
        vertical-align: top;
      }

      .service-text {
        display: inline-block;
        width: 78%;
        padding: 0 20px;

        h6 {
          padding-bottom: 20px;
        }
      }
    }
  }

  .services:last-child {
    border: none;
  }
}

// devices section

.devices {
  background: url('../images/background_2.jpg') center;
  background-repeat: no-repeat;
  background-size: cover;

  .title {
    padding-top: 100px;
  }

  /* Devices */

  .devices-group {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;

    .devices-item {
      display: block;
      max-width: 100%;
      height: auto;
    }

    .phone {
      position: absolute;
      bottom: -80px;
      right: -100px;
      z-index: 1;
      padding-bottom: 20px;
    }

    .tablet {
      padding-top: 50px;
    }
  }

  /* Devices */
  .devices-group {
    max-width: 320px;
  }

  .phone {
    width: 180px;
    bottom: -50px;
    right: -80px;
  }

}

// what we do section

.what-we-do {
  .activity-section {

    .picture {
      display: inline-block;
      width: 49%;
      vertical-align: bottom;
      padding-right: 10px;

      img {
        width: 100%;
        max-width: 570px;
      }
    }

    .activity {
      display: inline-block;
      width: 48%;
    }

    .activity-item {
      border: 1px solid $lightgrey;
      padding: 15px;
      vertical-align: top;

      .activity-text,
      .activity-icon {
        display: inline-block;
      }

      .activity-text {
        width: 85%;
        vertical-align: top;
        padding: 10px 0 0 10px;

        h6 {
          padding-bottom: 20px;
          display: inline;
        }

        p {
          display: inline;
          width: 50%;
        }
      }

      .activity-icon {
        width: 5%;
        vertical-align: middle;

        img {
          width: 100%;
          max-width: 30px;
        }
      }
    }

    .activity-item:nth-child(2) {
      margin-bottom: 10px;
      overflow: auto;
      height: 140px;
      overflow-x: hidden;
    }


    .activity-item:nth-child(2)::-webkit-scrollbar {
      width: 5px
    }

    .activity-item:nth-child(2)::-webkit-scrollbar-thumb {
      scroll-padding-right: 15px;
      background-color: $mint;
    }

    .activity-item:nth-child(2)::-webkit-scrollbar-thumb:hover {
      background-color: $mint;
    }

    .activity-item:nth-child(2)::-webkit-scrollbar-track {
      background-color: $lightergrey;
    }

    .activity-item:nth-child(2)::-webkit-scrollbar-track:hover {
      background-color: $lightergrey;
    }

    .activity-item:nth-child(3) {
      margin-bottom: 10px
    }
  }
}

// reviews section one

.reviews-section-one {
  background: url('../images/grey-line.jpg') center;
  background-repeat: no-repeat;
  background-size: cover;

  .review-items {
    padding: 70px 20px;
    margin: 0 20px;
    position: relative;

    .review-item-icon,
    .review-item-text,
    .review-item-picture {
      display: inline-block;
      vertical-align: middle;
    }

    .review-item-icon {
      img {
        width: 100%;
        max-width: 15px;
        height: auto;
      }

      img[alt="right-arrow"] {
        position: absolute;
        right: 0;
        top: 50%;
        bottom: 50%;
      }

      img[alt="left-arrow"] {
        position: absolute;
        left: 0;
        top: 50%;
        bottom: 50%;
      }
    }

    .review-item-picture {
      width: 13%;
      padding-left: 55px;

      img {
        width: 100%;
        max-width: 150px;
        height: auto;
      }
    }

    .review-item-text {
      padding: 0 55px;
      width: 65%;

      p {
        margin-bottom: 15px;
      }

      .red-line {
        display: inline-block;
        margin-right: 5px;
      }

      h4 {
        display: inline-block;
      }
    }
  }
}

// team section

.team {
  font-size: 0;

  .team-row {
    .team-item {
      display: inline-block;
      width: 31%;
      margin-right: 15px;

      h6 {
        margin: 30px 0 15px 0;
      }

      .team-inner {
        position: relative;
        background: #95e1d3;
        width: 100%;
        max-width: 380px;
        margin-right: 15px;

        .team-member {
          position: relative;

          img {
            width: 100%;
            max-width: 380px;
          }

          .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            transition: .5s ease;
            background-image: linear-gradient(to bottom right, $salmon, $yelloworange);
          }
        }

        .team-member:hover .overlay {
          opacity: 0.9;
        }

        .text {
          width: 100%;
          font-size: 0;
          position: absolute;
          top: 45%;
          bottom: 0;

          img {
            width: 100%;
            max-width: 15px;
            height: 15px;
            padding: 15px;
            margin: 0;
          }

          .social-item {
            background-color: #fce38a;
            border-right: 1px solid #f38181;

            font-size: 30px;
            text-decoration: none;
            color: #f38181;
            line-height: 1;

            transition: background .1s linear,
              color .1s linear;
          }

          .social-item:last-child {
            border-right: 0;
          }

          .social-item:hover {
            background-color: #f38181;
            color: #fff;
          }
        }
      }

      .team-inner:hover .team-member {
        transform: translate3d(-10px, -10px, 0);
      }

      .team-inner:hover .team-member img {
        opacity: 1;
      }
    }
  }
}

// logo section

.logos {
  background: url('../images/grey-line.jpg') center;
  background-repeat: no-repeat;
  background-size: cover;

  .logo-image {
    img {
      width: 100%;
      margin: 60px 0;
    }
  }
}

// breakpoints

// for screens less than 1200px and more than 992px

@media only screen and (min-width: $large-breakpoint) and (max-width: $extra-large-breakpoint) {

  // service section

  #service {
    .services {
      margin: 0 auto;

      .service-item {
        display: block;
        width: 50%;
        padding: 50px 0;
        margin: 0 auto;

        .service-icon {
          display: inline-block;
          width: 5%;
          padding: 0 10px;
        }

        .service-text {
          display: inline-block;
          width: 80%;
          padding: 0 20px;
        }
      }
    }
  }

  // what we do section
  .what-we-do {

    .activity-section {

      .picture {
        display: block;
        width: 50%;
        padding: 0;
        margin: 0 auto;

        img {
          width: 100%;
          max-width: 570px;
        }
      }

      .activity {
        display: block;
        width: 50%;
        margin: 0 auto;
        padding: 0;

        .activity-item:nth-child(2) {
          margin-bottom: 10px;

          .activity-text {
            width: 80%;
            padding-right: 30px;
          }
        }
      }
    }
  }

  // reviews section one

  .reviews-section-one {
    .review-items {
      .review-item-text {
        width: 65%;
      }
    }
  }
}

// for screens less than 992px and more than 768px

@media only screen and (min-width: $medium-breakpoint) and (max-width: $large-breakpoint) {
  // service section

  #service {
    .services {
      margin: 0 auto;

      .service-item {
        display: block;
        width: 40%;
        padding: 50px 0;
        margin: 0 auto;

        .service-icon {
          display: inline-block;
          width: 5%;
          padding-right: 20px;
        }

        .service-text {
          display: inline-block;
          width: 80%;
          padding: 0 0 0 10px;
        }
      }
    }
  }

  // what we do section
  .what-we-do {

    .activity-section {

      .picture {
        display: block;
        width: 50%;
        padding: 0;
        margin: 0 auto;

        img {
          width: 100%;
          max-width: 570px;
        }
      }

      .activity {
        display: block;
        width: 50%;
        margin: 0 auto;
        padding: 0;

        .activity-item {
          padding: 15px;

          .activity-text,
          .activity-icon {
            display: inline-block;
          }

          .activity-text {
            width: 80%;
            vertical-align: middle;
            padding: 0 0 0 10px;

            h6 {
              padding-bottom: 0;
              display: inline;
            }

            p {
              display: inline;
              width: 50%;
            }
          }

          .activity-icon {
            width: 5%;
            vertical-align: top;
            padding-right: 7px;
          }
        }

        .activity-item:nth-child(2) {
          margin-bottom: 10px;

          .activity-text {
            width: 90%;
            padding-right: 35px;
          }
        }
      }
    }
  }

  // reviews section one

  .reviews-section-one {
    .review-items {
      .review-item-text {
        width: 65%;
        padding: 0 40px;

        p,
        h4 {
          font-size: $ssmaller;
        }
      }
    }
  }

  // team section 
  .team {
    .team-row {
      .team-item {
        display: block;
        width: 40%;
        margin: 0 auto;

        p {
          margin-bottom: 30px;
        }
      }
    }
  }
}

// for screens less than 768px and more than 600px

@media only screen and (min-width: $small-breakpoint) and (max-width: $medium-breakpoint) {
  // service section

  #service {
    .services {
      margin: 0 auto;

      .service-item {
        display: block;
        width: 40%;
        padding: 50px 0px;
        margin: 0 auto;

        .service-icon {
          display: inline-block;
          width: 5%;
          padding-right: 30px;
        }

        .service-text {
          display: inline-block;
          width: 75%;
          padding: 0 0 0 10px;
        }
      }
    }
  }

  // what we do section
  .what-we-do {

    .activity-section {

      .picture {
        display: block;
        width: 60%;
        padding: 0;
        margin: 0 auto;

        img {
          width: 100%;
          max-width: 570px;
        }
      }

      .activity {
        display: block;
        width: 60%;
        margin: 0 auto;
        padding: 0;

        .activity-item {
          padding: 15px;

          .activity-text,
          .activity-icon {
            display: inline-block;
          }

          .activity-text {
            width: 77%;
            padding: 0 0 0 10px;

            h6 {
              padding-bottom: 30px;
              display: inline;
            }

            p {
              display: inline;
              width: 50%;
            }
          }

          .activity-icon {
            padding-right: 7px;
          }
        }

        .activity-item:nth-child(2) {
          .activity-text {
            width: 85%;
            padding-right: 30px;
          }
        }
      }
    }
  }

  // reviews section one

  .reviews-section-one {
    .review-items {
      .review-item-text {
        width: 60%;
        padding: 0 35px;

        p,
        h4 {
          font-size: $small;
        }
      }
    }
  }

  // team section 
  .team {
    .team-row {
      .team-item {
        width: 50%;

        p {
          margin-bottom: 30px;
        }
      }
    }
  }
}

// for screens less than 600px

@media only screen and (max-width: $small-breakpoint) {
  // service section

  #service {
    .services {
      margin: 0 auto;

      .service-item {
        display: block;
        width: 70%;
        padding: 50px 0px;
        margin: 0 auto;

        .service-icon {
          display: block;
          width: 5%;
          padding-bottom: 20px;
          margin: 0 auto;
        }

        .service-text {
          display: inline-block;
          width: 100%;
          padding: 0 0 0 10px;
          text-align: center;
        }
      }
    }
  }

  // what we do section
  .what-we-do {
    .activity-section {

      .picture {
        display: block;
        width: 75%;
        padding: 0;
        margin: 0 auto;

        img {
          width: 100%;
          max-width: 570px;
        }
      }

      .activity {
        display: block;
        width: 75%;
        margin: 0 auto;
        padding: 0;

        .activity-item {
          padding: 15px;

          .activity-text,
          .activity-icon {
            display: inline-block;
          }

          .activity-text {
            width: 70%;
            vertical-align: middle;
            padding: 0 20px 0 10px;

            h6 {
              padding-bottom: 20px;
              display: inline;
            }

            p {
              display: inline;
              width: 50%;
            }
          }

          .activity-icon {
            padding-right: 5px;
          }
        }

        .activity-item:nth-child(2) {
          .activity-text {
            width: 85%;
            padding-right: 20px;
          }
        }
      }
    }
  }

  // reviews section one

  .reviews-section-one {
    .review-items {
      position: relative;
      margin: 0 20px;

      .review-item-text {
        width: 70%;
        padding: 0;
        display: block;
        margin: 0 auto;

        p,
        h4 {
          font-size: $ssmallest;
        }

        h4 {
          padding-bottom: 20px;
        }
      }

      .review-item-picture {
        padding-left: 0;
        display: block;
        margin: 0 auto;
        padding: 20px 0;
        width: 20%;
      }

      .review-item-icon {
        img[alt="right-arrow"] {
          position: absolute;
          right: 0;
          top: 50%;
          bottom: 50%;
        }

        img[alt="left-arrow"] {
          position: absolute;
          left: 0;
          top: 50%;
          bottom: 50%;
        }
      }
    }
  }

  // devices section

  .devices {
    /* Devices */

    .devices-group {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      position: relative;

      .devices-item {
        display: block;
        max-width: 100%;
        height: auto;
      }

      .phone {
        position: absolute;
        bottom: -80px;
        right: -10px;
        z-index: 1;
        padding-bottom: 20px;
      }

      .tablet {
        padding-top: 50px;
      }
    }

    /* Devices */
    .devices-group {
      max-width: 320px;
    }

    .phone {
      width: 180px;
      bottom: -50px;
      right: -80px;
    }
  }

  // team section 
  .team {
    .team-row {
      .team-item {
        width: 60%;

        p {
          margin-bottom: 30px;
        }
      }
    }
  }
}