// service section

#service {
  .services {
    border-bottom: 1px solid $lightgrey;
    margin: 0 auto;

    .service-item {
      display: inline-block;
      width: 31%;
      padding: 50px 15px 50px 10px;

      .service-icon {
        display: inline-block;
        vertical-align: top;
      }

      .service-text {
        display: inline-block;
        width: 78%;
        padding: 0 20px;

        h5 {
          font-family: $montserrat;
          color: $textblack;
          padding-bottom: 20px;
        }

        p {
          font-family: $roboto;
          color: $textgrey;
          line-height: 1.6;
        }
      }
    }
  }

  .services:last-child {
    border: none;
  }
}

// devices section

.devices {
  background: url('../../../../3diena/mogo-projektas/images/another_background.png') center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 905px;

  .title {
    padding-top: 100px;
  }
}

// what we do section

.what-we-do {
  .activity-section {

    .picture {
      display: inline-block;
      width: 47%;
      padding-right: 30px;

      img {
        width: 100%;
      }
    }

    .activity {
      display: inline-block;
      width: 48%;
    }

    .activity-item {
      border: 1px solid $lightgrey;
      padding: 15px;
      vertical-align: top;

      .activity-text,
      .activity-icon {
        display: inline-block;
      }

      .activity-text {
        width: 85%;
        vertical-align: top;
        padding: 10px 0 0 10px;

        h5 {
          font-family: $montserrat;
          color: $textblack;
          padding-bottom: 20px;
          display: inline;
        }

        p {
          font-family: $roboto;
          color: $textgrey;
          font-style: italic;
          line-height: 1.6;
          font-size: $small;
          display: inline;
          width: 50%;
        }
      }

      .activity-icon {
        width: 5%;
        vertical-align: middle;
      }
    }

    .activity-item:nth-child(2) {
      margin-bottom: 10px;

      .activity-text {
        width: 90%;
        padding-right: 11px;
      }
    }

    .activity-item:nth-child(3) {
      margin-bottom: 10px
    }
  }
}

// reviews section 1

.reviews-section-one {
  background: url('../../../../3diena/mogo-projektas/images/grey-line.jpg') center;
  background-repeat: no-repeat;
  background-size: cover;

  .review-items {
    padding: 70px 20px;

    .review-item-icon,
    .review-item-text,
    .review-item-picture {
      display: inline-block;
      vertical-align: middle;
    }

    .review-item-icon {
      width: 3%;
    }

    .review-item-icon:last-child {
      text-align: right;
    }

    .review-item-picture {
      width: 13%;
      padding-left: 55px;

      img {
        width: 100%;
        max-width: 150px;
        height: auto;
      }
    }

    .review-item-text {
      padding: 0 55px;
      width: 65%;

      p {
        font-family: $roboto;
        color: $textgrey;
        font-style: italic;
        line-height: 1.6;
        font-size: $smaller;
        margin-bottom: 15px;
      }

      .red-line {
        display: inline-block;
        margin-right: 5px;
      }

      h4 {
        font-family: $kaushan;
        display: inline-block;
      }
    }
  }
}

// team section 

.team {
  .team-row {
    text-align: center;

    .team-member {
      display: inline-block;
      width: 31%;
      padding-right: 15px;

      img {
        width: 100%;
      }

      h5 {
        margin: 30px 0 15px 0;
      }

      p {
        color: $textgrey;
        font-style: italic;
        font-family: $roboto;
      }
    }
  }
}

// logo section

.logos {
  background: url('../../../../3diena/mogo-projektas/images/grey-line.jpg') center;
  background-repeat: no-repeat;
  background-size: cover;

  .logo-image {

    img {
      width: 100%;
    }
  }
}