// work section 

#works {
  font-size: 0;

  .works-images {
    margin: 0 auto;
    // width: 100%;

    .images-block {
      display: inline-block;
      width: 25%;


      .image {
        position: relative;

        img {
          width: 100%;
          max-width: 480px;
          display: block;
          height: 390px;
        }

        img[alt="3"] {
          height: 780px;
        }

        .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          max-width: 480px;
          opacity: 0;
          transition: .5s ease;
          background-image: linear-gradient($salmon, #e9d182);
          // margin: 0 7px;

          .text {
            text-align: center;
            padding-top: 130px;

            h6 {
              color: $textwhite;
              font-family: $montserrat;
              padding: 15px 0;
            }

            p {
              color: $textwhite;
              font-size: $small;
              font-family: $roboto;
              font-style: italic;
            }

            img {
            width: 100%;
            max-width: 30px;
            padding-bottom: 10px;
            height: 30px;
            margin: 0 auto;
            }
          }
        }
      }

      .image:hover .overlay {
        opacity: 0.9;
      }

    }
  }
}

// breakpoints for work section

// for screens less than 1200px 

@media only screen and (max-width: $extra-large-breakpoint) {

  #works {
    .works-images {
      .images-block {
        display: block;
        width: 45%;
        margin: 0 auto;
      }
    }
  }
}

// for screens less than 992px

@media only screen and (max-width: $large-breakpoint) {
  #works {
    .works-images {
      .images-block {
        display: block;
        width: 70%;
        margin: 0 auto;
      }
    }
  }
}

// for screens less than 600px

@media only screen and (max-width: $small-breakpoint) {
  #works {
    .works-images {
      .images-block {
        display: block;
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}

// review section two

.review-section-two {
  .review-items {
    margin: 0 20px;

    .review-item-icon,
    .review-item-text,
    .review-item-picture {
      display: inline-block;
      vertical-align: middle;
    }

    .review-item-icon {
      width: 4%;

      img {
        width: 100%;
        max-width: 15px;
        height: auto;
      }
    }

    .review-item-icon:last-child {
      text-align: right;
    }

    .review-item-picture {
      width: 20%;

      img {
        width: 100%;
        max-width: 210px;
      }
    }

    .review-item-text {
      p {
        margin-bottom: 15px;
      }

      .red-line {
        display: inline-block;
        margin-right: 5px;
      }

      h4 {
        display: inline-block;
      }

      width: 70%;
    }
  }
}

// clients section 

.client-section {
  background: url('/images/background_3.jpg') center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 110px;

  .client-reviews {
    padding-bottom: 30px;
    margin-top: 90px;

    .client-row {
      margin-bottom: 80px;
      width: 100%;

      .client {
        display: inline-block;
        width: 47%;
        margin: 0 auto;
        padding: 0 15px;

        .client-image {
          display: inline-block;
          width: 25%;
          vertical-align: top;
          padding-left: 15px;

          img {
            width: 100%;
            max-width: 110px;
          }
        }

        .client-info {
          display: inline-block;
          width: 70%;

          h6 {
            margin-bottom: 15px;
          }

          p {
            margin-bottom: 15px;
          }

          .red-line {
            margin-bottom: 25px;
          }
        }
      }
    }
  }
}

// breakpoints for reviews and clients sections

// for screens less than 1200px and more than 992px

@media only screen and (min-width: $large-breakpoint) and (max-width: $extra-large-breakpoint) {

  // reviews section two

  .review-section-two {
    .review-items {
      .review-item-text {
        width: 60%;
      }
    }
  }

  // clients section 

  .client-section {
    .client-reviews {
      .client-row {
        .client {
          display: block;
          width: 60%;
          margin: 0 auto;
          padding: 0 15px 80px 15px;

          .client-info {
            width: 70%;
          }
        }

        .client:nth-child(even) {
          padding: 0 15px;
        }
      }
    }
  }
}

// for screens less than 992px and more than 768px

@media only screen and (min-width: $medium-breakpoint) and (max-width: $large-breakpoint) {
  // reviews section two

  .review-section-two {
    .review-items {
      .review-item-text {
        width: 60%;
        padding: 0 40px;

        p,
        h4 {
          font-size: $ssmaller;
        }
      }
    }
  }

  // clients section 
  .client-section {
    .client-reviews {
      .client-row {
        .client {
          display: block;
          width: 60%;
          margin: 0 auto;
          padding: 0 0 80px 0;

          .client-info {
            width: 60%;
          }
        }

        .client:nth-child(even) {
          padding: 0 15px;
        }
      }
    }
  }
}

// for screens less than 768px and more than 600px

@media only screen and (min-width: $small-breakpoint) and (max-width: $medium-breakpoint) {

  // reviews section two

  .review-section-two {
    .review-items {
      .review-item-text {
        width: 55%;
        padding: 0 35px;

        p,
        h4 {
          font-size: $small;
        }
      }
    }
  }

  // clients section 

  .client-section {
    .client-reviews {
      .client-row {
        .client {
          display: block;
          width: 60%;
          margin: 0 auto;
          padding: 0 0 80px 0;

          .client-info {
            width: 100%;
            text-align: center;

            .red-line {
              margin: 0 auto;
            }

            p {
              padding-top: 15px;
            }
          }

          .client-image {
            display: block;
            margin: 0 auto;
            padding-bottom: 15px;
          }
        }

        .client:nth-child(even) {
          padding: 0 15px;
        }
      }
    }
  }
}

// for screens less than 600px

@media only screen and (max-width: $small-breakpoint) {
  // reviews section two

  .review-section-two {
    .review-items {
      .review-item-text {
        width: 70%;
        padding: 0;
        display: block;
        margin: 0 auto;

        p,
        h4 {
          font-size: $ssmallest;
        }

        h4 {
          padding-bottom: 20px;
        }
      }

      .review-item-picture {
        padding-left: 0;
        display: block;
        margin: 0 auto;
        padding: 20px 0;
        width: 20%;
      }

      .review-item-icon {
        display: block;
        margin: 0 auto;
      }
    }
  }

  // clients section 

  .client-section {
    .client-reviews {
      .client-row {
        .client {
          display: block;
          width: 80%;
          margin: 0 auto;
          padding: 0 0 80px 0;

          .client-info {
            width: 100%;
            text-align: center;

            .red-line {
              margin: 0 auto;
            }

            p {
              padding-top: 15px;
            }
          }

          .client-image {
            display: block;
            margin: 0 auto;
            padding-bottom: 15px;
          }
        }

        .client:nth-child(even) {
          padding: 0 15px;
        }
      }
    }
  }
}